PORT=3737
HOST=127.0.0.1
OPENCODE_DB_PATH=
OPENCODE_ROOT_APP=0
OPENCODE_MONITOR_HEARTBEAT_TTL_MS=90000
OPENCODE_MONITOR_INGEST_TOKEN=
OPENCODE_OBSERVABILITY_INGEST_URL=http://127.0.0.1:3737/api/monitor/ingest
OPENCODE_OBSERVABILITY_AUTOSTART=1
OPENCODE_OBSERVABILITY_AUTOSTART_TIMEOUT_MS=20000
